*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul,
ol,
li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}

html,
body {
    height: 100%;
    line-height: 1;
}

/* -------------------------------------------- */

.main {
    flex: 1 1 auto;
}

body {
    position: relative;
    font-family: inter;
    font-size: 16px;
    color: #667085;
    font-weight: 400;
    background-color: #acb0b8;
}

.wrapper {
    background: #FCFDFF;
    border-radius: 44px;
    max-width: 1440px;
    max-height: 960px; 
    padding: 32px 32px 32px 40px; 
    margin: 10px auto;
}

/* ------------------------------------- */

.sing-in-box {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: flex-end;
}

.logo {
    position: absolute;
    top: 8px;
    left: 0;
}

.sing-in__info {
    flex-direction: column;
}

.sing-in-title {
    color: #344054;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.4px;
    text-transform: capitalize;
    margin-bottom: 8px;
}

.sing-in-text {
    margin-bottom: 56px;
}

.sing-in__form-box {
    flex-direction: column;
    margin-bottom: 20px;
    position: relative;
}

.sing-in__form-label {
    display: block;
    color: var(--Secondary-Color, #344054);
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    margin-bottom: 8px;
}

.x {
    position: absolute;
    top: 38px;
    right: 14px;
    cursor: pointer;
}

.hide {
    position: absolute;
    top: 38px;
    right: 14px;
    cursor: pointer;
}

.sing-in__form-input {
    width: 100%;
    display: flex;
    padding: 10px 14px;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    border: 1px solid var(--Accent-1, #D0D5DD);
}

.sing-in__form-input:focus {
    outline: none;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.sing-in__form-remember {
    display: flex;
    align-items: center;
    justify-content: end;
}

.sing-in__form-checkbox {
    margin-right: 8px;
}

.sing-in__form-link {
    color: var(--Primary-Color, #5429FF);
    font-size: 14px;
    font-weight: 500;
    line-height: 20px; 
    margin-left: 113px;
}

.sing-in__form-link:hover {
    text-decoration: underline;
}

.sing-in__form-buttons {
    margin-top: 44px;
    text-align: center;
}

.sing-in__form-button {
    border-radius: 8px;
    background: var(--Primary-Color, #5429FF);
    justify-content: center;
    padding: 12px 154px;
    color: #FFF;
    font-weight: 500;
    line-height: 20px;
    transition: all .5s;
}

.sing-in__form-button:hover {
    background: var(--Primary-Color, #390ee6); 
}

.sing-in__form-button-with-google-box {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 28px;
    padding: 10px 90px;
    text-align: center;
    border-radius: 8px;
    border: 1px solid var(--Accent-1, #D0D5DD);
    cursor: pointer;
    transition: all .5s;
}

.sing-in__form-button-with-google-box:hover {
    background: #e9e5e5 ;
}

.sing-in__form-button-with-google-box img {
    margin-right: 8px;
}

.sing-in__form-button-with-google {
    color: var(--Secondary-Color, #344054);
    font-weight: 500;
    line-height: 20px; 
    display: inline-flex;
}

.sing-in__account {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.sing-in__account-text {
    margin-right: 4px;
    color: var(--Secondary-Color, #344054);;
    font-size: 14px;
    line-height: 24px;
}

.sing-in__account-link {
    color: var(--Primary-Color, #5429FF);
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
}

.sing-in__account-link:hover {
    text-decoration: underline;
}

.line {
    display: none;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    width: 134px;
    height: 5px;
    border-radius: 2.5px;
    background: rgba(52, 64, 84, 0.85);    
}

.sing-in__create {
    position: absolute;
    bottom: 8px;
    left: 0;
}

.sing-in-img {
    max-width: 100%;
    width: 736px;
    height: 865px;
    padding: 0 16px 31px 16px;
    border-radius: 40px;
    background: var(--BG, #CBCCE8);
    margin-left: 140px;
}
